<!DOCTYPE html>
<html>
<head>
    <title>Systemressourcen</title>
    <style>
        img {
            width: 500px;
        }

        @media (max-width: 1200px) {
            img {
                width: 100%;
            }
        }
    </style>
    <script>
        function updateImage() {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/refresh_data", true);
            xhr.responseType = "text";
            xhr.onload = function () {
                document.querySelector("img").src = "data:image/png;base64," + xhr.response;
            };
            xhr.send();
        }

        setInterval(updateImage, 1000);
    </script>
</head>
<body>
<div >
    <img src="data:image/png;base64, {{ imageData }}"/>
</div>
</body>
</html>
